@use "variables" as *;
@use "fonts";

.header {
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-sm;

  &Logo {
    width: 200px;
    height: auto;
  }

  &ButtonsContainer {
    display: flex;
    gap: $spacing-lg;
    margin-right: $spacing-md;
  }

  &Button {
    background-color: transparent;
    color: $gold;
    border: none;
    font-family: $font-title;
    font-size: $font-size-small;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: visible;

    &::after {
      content: "";
      position: absolute;
      left: 10%;
      right: 10%;
      bottom: 0;
      width: 0%;
      height: 2px;
      background: $gold;
      transition:
        width $transition-slow,
        left $transition-slow,
        right $transition-slow;
      margin: 0 auto;
    }

    &:hover::after {
      width: 80%;
      left: 10%;
      right: 10%;
    }
  }
}
