@use "variables" as *;
@use "fonts";

.main {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-md;

  &Logo {
    width: 50%;
    height: 50vh;
    background-image: url("../img/Logo_desktop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &Button {
    background-color: transparent;
    color: $gold;
    border: none;
    font-family: $font-title;
    font-size: $font-size-large;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: visible;

    &::after {
      content: "";
      position: absolute;
      left: 10%;
      right: 10%;
      bottom: 0;
      width: 0%;
      height: 2px;
      background: $gold;
      transition:
        width $transition-slow,
        left $transition-slow,
        right $transition-slow;
      margin: 0 auto;
    }

    &:hover::after {
      width: 80%;
      left: 10%;
      right: 10%;
    }
  }
}
