@use "variables" as *;

.pageTransition {
  width: 100%;
  height: 90dvh;
  overflow: hidden;
  position: relative;

  &.animating {
    animation: slideUp $transition-slow;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
